{
    "openapi": "3.0.2",
    "info": {
        "title": "CDDO DM Catalogue API",
        "version": "0.1"
    },
    "servers": [
        {
            "url": "https://marketplace.cddo.gov.uk/v1"
        }
    ],
    "components": {
        "schemas": {
            "asset-summary": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "Dataset",
                            "DataService"
                        ]
                    },
                    "identifier": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "title": {
                        "type": "string"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "summary": {
                        "type": "string"
                    },
                    "modified": {
                        "type": "string",
                        "format": "date"
                    },
                    "resourceType": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "data-asset": {
                "type": "object",
                "properties": {
                    "accessRights": {
                        "type": "string",
                        "enum": [
                            "INTERNAL",
                            "OPEN",
                            "COMMERCIAL"
                        ]
                    },
                    "alternativeTitles": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "contactName": {
                        "type": "string"
                    },
                    "contactEmail": {
                        "type": "string",
                        "format": "email"
                    },
                    "created": {
                        "type": "string",
                        "format": "date"
                    },
                    "modified": {
                        "type": "string",
                        "format": "date"
                    },
                    "catalogueCreated": {
                        "type": "string",
                        "format": "date"
                    },
                    "catalogueModified": {
                        "type": "string",
                        "format": "date"
                    },
                    "identifier": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "securityClassification": {
                        "type": "string",
                        "enum": [
                            "OFFICIAL",
                            "SECRET",
                            "TOP_SECRET"
                        ]
                    },
                    "version": {
                        "type": "string"
                    }
                }
            }
        }
    },
    "paths": {
        "/catalogue/{id}": {
            "get": {
                "description": "Return a data asset based on its id.",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "description": "Identifier of the data asset to return",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "example": "aeca1f1a-d6be-43de-93a7-746a281c8c4e"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/data-asset"
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "distributions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "assetType": {
                                                                "type": "array",
                                                                "example": [
                                                                    "CSV",
                                                                    "XML",
                                                                    "REST"
                                                                ]
                                                            },
                                                            "modified": {
                                                                "type": "string",
                                                                "format": "date"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                }
            }
        },
        "/catalogue": {
            "get": {
                "description": "Search for data assets",
                "parameters": [
                    {
                        "name": "q",
                        "description": "Query for data asset title",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "required": true,
                        "example": "vehicle"
                    },
                    {
                        "name": "topic",
                        "description": "Topic to filter by",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Environment"
                    },
                    {
                        "name": "organisation",
                        "description": "Organisation to filter by",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Companies House"
                    },
                    {
                        "name": "type",
                        "description": "Data asset type to filter by",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Dataset",
                                "DataService"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/asset-summary"
                                            }
                                        },
                                        "facets": {
                                            "type": "object",
                                            "properties": {
                                                "topics": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "organisations": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "types": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "example": {
                                        "data": [
                                            {
                                                "type": "DataService",
                                                "identifier": "10e9c900-2a9f-468e-89da-6541b571afe9",
                                                "title": "DVLA Vehicle Enquiry Service",
                                                "creator": "Driver and Vehicle Licensing Agency",
                                                "summary": "The DVLA Vehicle Enquiry Service API provides vehicle details of a specified vehicle.",
                                                "modified": "2020-08-24",
                                                "resourceType": [
                                                    "REST"
                                                ]
                                            },
                                            {
                                                "type": "DataSet",
                                                "identifier": "136820d1-799b-493a-8894-0556a5d661b1",
                                                "title": "Bathing Water",
                                                "creator": "Environment Agency",
                                                "summary": "The Environment Agency collects water quality data each year from May to September, to ensure that designated bathing water sites on the coast and inland are safe and clean for swimming and other activities.",
                                                "modified": "2020-08-26",
                                                "resourceType": [
                                                    "CSV",
                                                    "XML"
                                                ]
                                            }
                                        ],
                                        "facets": {
                                            "topics": [
                                                "Health",
                                                "Society",
                                                "Mapping",
                                                "Environment"
                                            ],
                                            "organisations": [
                                                "Driver and Vehicle Licensing Agency",
                                                "Environment Agency"
                                            ],
                                            "types": [
                                                "Dataset",
                                                "DataService"
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}